// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url('meeting.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #cccccc;

  padding: 2rem 1rem;
}
